Package: com.yaypixxo.roundedpagedots
Name: RoundedPageDots
Depends: mobilesubstrate
Version: 1.0.2
Architecture: iphoneos-arm
Description: square with rounded corners page dots lol
Depiction: https://yaypixxo.com/depictions?p=com.yaypixxo.roundedpagedots
SileoDepiction: https://yaypixxo.com/sileo/com.yaypixxo.roundedpagedots
Maintainer: YaYPIXXO <viggo@lekdorf.com>
Author: YaYPIXXO <viggo@lekdorf.com>
Section: Tweaks
