Package: com.johnzaro.nfctagsenabler
Name: NFCTagsEnabler
Depends: mobilesubstrate, firmware (>= 13)
Version: 1.0
Architecture: iphoneos-arm
Description: Enables the NFC Tag feature in Shortcuts app
Maintainer: Johnzaro <johnzrgnns@gmail.com>
Author: Johnzaro <johnzrgnns@gmail.com>
Section: Tweaks
