<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.CoreAuthUI</key>
	<true/>
	<key>com.apple.PassbookUIService</key>
	<true/>
	<key>com.apple.SafariViewService</key>
	<true/>
	<key>com.apple.Spotlight</key>
	<true/>
	<key>com.apple.WebSheet</key>
	<true/>
	<key>com.apple.webapp</key>
	<true/>
	<key>com.apple.InCallService</key>
	<true/>
	<key>com.apple.DiagnosticsService</key>
	<true/>
	<key>com.apple.gamecenter.GameCenterUIService</key>
	<true/>
	<key>com.apple.iMessageAppsViewService</key>
	<true/>
	<key>com.apple.MailCompositionService</key>
	<true/>
	<key>com.apple.mobilesms.compose</key>
	<true/>
	<key>com.apple.ScreenshotServicesService</key>
	<true/>
	<key>com.apple.SharedWebCredentialViewService</key>
	<true/>
	<key>com.apple.SIMSetupUIService</key>
	<true/>
	<key>com.apple.TVAccessViewService</key>
	<true/>
	<key>com.apple.VSViewService</key>
	<true/>
	<key>com.apple.PrintKit.Print-Center</key>
	<true/>
	<key>com.apple.MusicUIService</key>
	<true/>
	<key>com.apple.PhotosViewService</key>
	<true/>
	<key>com.apple.ScreenSharingViewService</key>
	<true/>
	<key>com.apple.SharingViewService</key>
	<true/>
	<key>com.apple.susuiservice</key>
	<true/>
	<key>com.apple.StoreDemoViewService</key>
	<true/>
	<key>com.apple.ScreenTimeUnlock</key>
	<true/>
	<key>com.apple.CloudKit.ShareBear</key>
	<true/>
	<key>com.apple.HealthPrivacyService</key>
	<true/>
	<key>com.apple.FontInstallViewService</key>
	<true/>
	<key>com.apple.carkit.DNDBuddy</key>
	<true/>
	<key>com.apple.datadetectors.DDActionsService</key>
	<true/>
	<key>com.apple.DataActivation</key>
	<true/>
	<key>com.apple.CTNotifyUIService</key>
	<true/>
	<key>com.apple.BusinessChatViewService</key>
	<true/>
	<key>com.apple.AXUIViewService</key>
	<true/>
	<key>com.apple.AppSSOUIService</key>
	<true/>
	<key>com.apple.AuthKitUIService</key>
	<true/>
</dict>
</plist>
