Package: com.cpdigitaldarkroom.fastunlockx
Name: FastUnlockX
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Faster unlock for iPhone X
Maintainer: CP Digital Darkroom <admin@cpdigitaldarkroom.com>
Author: CP Digital Darkroom <admin@cpdigitaldarkroom.com>
Section: Tweaks
Tag: compatible_min::ios10, compatible_max::ios13.3, purpose::extension
Version: 1.5
