Package: com.yaypixxo.kage
Name: Kage
Depends: mobilesubstrate, preferenceloader
Version: 1.1.2
Architecture: iphoneos-arm
Description: show/hide/change ls and hs stuff!
Icon: https://yaypixxo.com/assets/com.yaypixxo.kage.png
Depiction: https://yaypixxo.com/depictions?p=com.yaypixxo.kage
SileoDepiction: https://yaypixxo.com/sileo/com.yaypixxo.kage
Maintainer: YaYPIXXO <viggo@lekdorf.com>
Author: YaYPIXXO <viggo@lekdorf.com>
Section: Tweaks
