<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.yaypixxo.kage</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable Tweak</string>
			<key>PostNotification</key>
			<string>com.yaypixxo.kage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>* requires respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.yaypixxo.kage</string>
			<key>key</key>
			<string>hideQuickActionsBG</string>
			<key>label</key>
			<string>Hide Quick Actions BG (iPhone X)*</string>
			<key>PostNotification</key>
			<string>com.yaypixxo.kage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.yaypixxo.kage</string>
			<key>key</key>
			<string>gridSwitcher</string>
			<key>label</key>
			<string>Enable Grid Switcher*</string>
			<key>PostNotification</key>
			<string>com.yaypixxo.kage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.yaypixxo.kage</string>
			<key>key</key>
			<string>hideLSBatt</string>
			<key>label</key>
			<string>Hide LS Battery</string>
			<key>PostNotification</key>
			<string>com.yaypixxo.kage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.yaypixxo.kage</string>
			<key>key</key>
			<string>statusBarShowTimeLS</string>
			<key>label</key>
			<string>Time in LS Status Bar (iPhone X)</string>
			<key>PostNotification</key>
			<string>com.yaypixxo.kage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.yaypixxo.kage</string>
			<key>key</key>
			<string>hideLabels</string>
			<key>label</key>
			<string>Hide Icon Labels</string>
			<key>PostNotification</key>
			<string>com.yaypixxo.kage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.yaypixxo.kage</string>
			<key>key</key>
			<string>hideCarPlayLabels</string>
			<key>label</key>
			<string>Hide Icon Labels (CarPlay)</string>
			<key>PostNotification</key>
			<string>com.yaypixxo.kage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.yaypixxo.kage</string>
			<key>key</key>
			<string>hideFolderBadges</string>
			<key>label</key>
			<string>Hide Folder Badges</string>
			<key>PostNotification</key>
			<string>com.yaypixxo.kage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.yaypixxo.kage</string>
			<key>key</key>
			<string>hideFolderTitle</string>
			<key>label</key>
			<string>Hide Folder Titles</string>
			<key>PostNotification</key>
			<string>com.yaypixxo.kage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.yaypixxo.kage</string>
			<key>key</key>
			<string>hideFolderBG</string>
			<key>label</key>
			<string>Hide Folder Background</string>
			<key>PostNotification</key>
			<string>com.yaypixxo.kage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.yaypixxo.kage</string>
			<key>key</key>
			<string>hideFolderBGSB</string>
			<key>label</key>
			<string>Hide Folder Background (on HS)</string>
			<key>PostNotification</key>
			<string>com.yaypixxo.kage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.yaypixxo.kage</string>
			<key>key</key>
			<string>hideFolderDots</string>
			<key>label</key>
			<string>Hide Page Dots*</string>
			<key>PostNotification</key>
			<string>com.yaypixxo.kage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.yaypixxo.kage</string>
			<key>key</key>
			<string>hideNoOlderNotifs</string>
			<key>label</key>
			<string>Hide "No Older Notifications"</string>
			<key>PostNotification</key>
			<string>com.yaypixxo.kage/preferences.changed</string>
		</dict>
		<!--<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.yaypixxo.kage</string>
			<key>key</key>
			<string>hideStatusBarLS</string>
			<key>label</key>
			<string>Hide LS Status Bar</string>
			<key>PostNotification</key>
			<string>com.yaypixxo.kage/preferences.changed</string>
		</dict>-->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.yaypixxo.kage</string>
			<key>key</key>
			<string>hideCCGrabber</string>
			<key>label</key>
			<string>Hide CC Grabber (iPhone X)</string>
			<key>PostNotification</key>
			<string>com.yaypixxo.kage/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Kage - By YaYPIXXO</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>saveTapped</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>openTwitter</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>@Ra1nPix</string>
		</dict>
	</array>
	<key>title</key>
	<string>Kage</string>
</dict>
</plist>
