<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>ca.menushka.onenotify.preferences</string>
			<key>key</key>
			<string>enabled</string>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>ca.menushka.onenotify.preferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>GENERAL_HEADER</string>
			<key>footerText</key>
			<string>GENERAL_FOOTER</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>ca.menushka.onenotify.preferences</string>
			<key>key</key>
			<string>hideTextNotificationCenter</string>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Hide &quot;Notification Center&quot; Text</string>
			<key>PostNotification</key>
			<string>ca.menushka.onenotify.preferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>ca.menushka.onenotify.preferences</string>
			<key>key</key>
			<string>hideTextNoOlderNotifications</string>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Hide &quot;No Older Notifications&quot; Text</string>
			<key>PostNotification</key>
			<string>ca.menushka.onenotify.preferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PULL_TO_DISMISS_HEADER</string>
			<key>footerText</key>
			<string>PULL_TO_DISMISS_FOOTER</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>ca.menushka.onenotify.preferences</string>
			<key>key</key>
			<string>pullToDismissEnabled</string>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Enabled Pull To Dismiss</string>
			<key>PostNotification</key>
			<string>ca.menushka.onenotify.preferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Pull Amount to Dismiss</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>defaults</key>
			<string>ca.menushka.onenotify.preferences</string>
			<key>key</key>
			<string>pullToDismissAmount</string>
			<key>default</key>
			<integer>100</integer>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>200</real>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<real>20</real>
			<key>PostNotification</key>
			<string>ca.menushka.onenotify.preferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BLOCK_SCREEN_WAKE_HEADER</string>
			<key>footerText</key>
			<string>BLOCK_SCREEN_WAKE_FOOTER</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>ca.menushka.onenotify.preferences</string>
			<key>key</key>
			<string>blockScreenWakeEnabled</string>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>ca.menushka.onenotify.preferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>bundle</key>
			<string>AppList</string>
			<key>isController</key>
			<string>1</string>
			<key>label</key>
			<string>Select apps</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALSettingsKeyPrefix</key>
			<string></string>
			<key>ALSettingsDefaultValue</key>
			<string>0</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/ca.menushka.onenotify.preferences.app.plist</string>
			<key>ALSingleEnabledMode</key>
			<false/>
			<key>ALChangeNotification</key>
			<string>ca.menushka.onenotify.preferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
            <key>detail</key>
            <string>PSListItemsController</string>
			<key>defaults</key>
			<string>ca.menushka.onenotify.preferences</string>
			<key>key</key>
			<string>blockScreenWakeSelectionMode</string>
			<key>validTitles</key>
            <array>
                <string>Blacklist</string>
                <string>Whitelist</string>
            </array>
            <key>validValues</key>
            <array>
				<integer>0</integer>
				<integer>1</integer>
            </array>
			<key>default</key>
			<integer>0</integer>
			<key>label</key>
			<string>Selection Mode</string>
			<key>PostNotification</key>
			<string>ca.menushka.onenotify.preferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>MISCELLANEOUS_HEADER</string>
			<key>footerText</key>
			<string>MISCELLANEOUS_FOOTER</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>respring:</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>reset:</string>
			<key>label</key>
			<string>Reset and Respring</string>
		</dict>
	</array>
	<key>title</key>
	<string>OneNotify</string>
</dict>
</plist>
