<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
			<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Dynamics</string>
			<key>footerText</key>
			<string></string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<!--<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.nepeta.axon</string>
			<key>label</key>
			<string>Wallpaper tints cells</string>
			<key>key</key>
			<string>dynamicBackgroundColors</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.axon/ReloadPrefs</string>
		</dict>-->
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.nepeta.axon</string>
			<key>label</key>
			<string>Wallpaper tints badge text</string>
			<key>key</key>
			<string>dynamicBadges</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.axon/ReloadPrefs</string>
		</dict>
				<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.nepeta.axon</string>
			<key>label</key>
			<string>Dim fades entire cell</string>
			<key>key</key>
			<string>FadeCell</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.axon/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BADGES</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.nepeta.axon</string>
			<key>label</key>
			<string>ENABLED</string>
			<key>key</key>
			<string>BadgesEnabled</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.axon/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.nepeta.axon</string>
			<key>label</key>
			<string>SHOW_BACKGROUND</string>
			<key>key</key>
			<string>BadgesShowBackground</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.axon/ReloadPrefs</string>
		</dict>

     </array>
	<key>title</key>
	<string>Colors</string>
</dict>
</plist>
