<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>VERTICAL</string>
			<key>footerText</key>
			<string>VERTICAL_INFO</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.nepeta.axon</string>
			<key>label</key>
			<string>VERTICAL_RESPRING</string>
			<key>key</key>
			<string>Vertical</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.axon/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>me.nepeta.axon</string>
			<key>key</key>
			<string>VerticalPosition</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>LEFT</string>
				<string>RIGHT</string>
			</array>
			<key>alignment</key>
			<string>2</string>
			<key>PostNotification</key>
			<string>me.nepeta.axon/ReloadPrefs</string>
		</dict>
        		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ALIGNMENT</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>me.nepeta.axon</string>
			<key>key</key>
			<string>Alignment</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>LEFT</string>
				<string>CENTER</string>
				<string>RIGHT</string>
			</array>
			<key>alignment</key>
			<string>3</string>
			<key>PostNotification</key>
			<string>me.nepeta.axon/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SPACING</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>10</integer>
			<key>defaults</key>
			<string>me.nepeta.axon</string>
			<key>key</key>
			<string>Spacing</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>20</integer>
			<key>showValue</key>
			<true/>
			<key>isSegmented</key>
			<false/>
			<key>PostNotification</key>
			<string>me.nepeta.axon/ReloadPrefs</string>
		</dict>
     </array>
	<key>title</key>
	<string>Layout</string>
</dict>
</plist>
