<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cellClass</key>
			<string>KRTwitterCell</string>
			<key>label</key>
			<string>Kritanta</string>
			<key>accountName</key>
			<string>_kritanta</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.nepeta.axon</string>
			<key>label</key>
			<string>ENABLED_RESPRING</string>
			<key>key</key>
			<string>Enabled</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.axon/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>me.nepeta.axon</string>
			<key>label</key>
			<string>HAPTIC_FEEDBACK</string>
			<key>key</key>
			<string>HapticFeedback</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.axon/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>me.nepeta.axon</string>
			<key>label</key>
			<string>DARK_MODE</string>
			<key>key</key>
			<string>DarkMode</string>
			<key>alternateColors</key>
			<true/>
			<key>PostNotification</key>
			<string>me.nepeta.axon/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>AXNListItemsController</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>me.nepeta.axon</string>
			<key>label</key>
			<string>STYLE</string>
			<key>key</key>
			<string>Style</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>DEFAULT</string>
				<string>PACKED</string>
				<string>COMPACT</string>
				<string>TINY</string>
				<string>GROUP</string>
				<string>ROUNDED_GROUP</string>
			</array>
			<key>PostNotification</key>
			<string>me.nepeta.axon/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Configuration</string>
			<key>footerText</key>
			<string></string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Layout</string>
			<key>isController</key>
			<true/>
			<key>customControllerClass</key>
			<string>AXNLayoutListController</string>
			<key>detail</key>
			<string>AXNLayoutListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Colors</string>
			<key>isController</key>
			<true/>
			<key>customControllerClass</key>
			<string>AXNColorsListController</string>
			<key>detail</key>
			<string>AXNColorsListController</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>Sorting</string>
			<key>isController</key>
			<true/>
			<key>customControllerClass</key>
			<string>AXNSortingListController</string>
			<key>detail</key>
			<string>AXNSortingListController</string>
		</dict>
		<!-- Credits -->
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Axon by Nepeta | Updated by BawAppie for iOS 13</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KRTwitterCell</string>
			<key>label</key>
			<string>Baw Appie</string>
			<key>accountName</key>
			<string>BawAppie</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>CREDITS_1_INFO</string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KRTwitterCell</string>
			<key>label</key>
			<string>CREDITS_1</string>
			<key>accountName</key>
			<string>bossgfx_</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string></string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>KRLinkCell</string>
			<key>label</key>
			<string>GitHub</string>
			<key>subtitle</key>
			<string>Source Code</string>
			<key>url</key>
			<string>https://github.com/KritantaDev/Axon</string>
		</dict>
	</array>
	<key>title</key>
	<string>Axon</string>
</dict>
</plist>
