Package: com.johnzaro.perfectalerts13
Name: PerfectAlerts13
Depends: mobilesubstrate, preferenceloader, ws.hbang.common (>= 1.14), firmware (>= 13)
Version: 1.0
Architecture: iphoneos-arm
Description: Disables Various Annoying Alerts And Notifications, Replaces Low Battery Alert With Banner
Maintainer: Johnzaro <johnzrgnns@gmail.com>
Author: Johnzaro <johnzrgnns@gmail.com>
Section: Tweaks
