<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>RINRootHeaderView</string>
			<key>icon</key>
			<string>RINHeader.png</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>All Settings Below Except The 'Update Interval' Are Updated Dynamically And Do Not Require A Respring. Enabling / Disabling The Tweak Requires A Respring.</string>
			<key>footerAlignment</key>
			<integer>1</integer>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.raminfo13prefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>DISPLAY OPTIONS</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.raminfo13prefs</string>
			<key>key</key>
			<string>showUsedRam</string>
			<key>label</key>
			<string>Show Used RAM</string>
			<key>PostNotification</key>
			<string>com.johnzaro.raminfo13prefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>U: </string>
			<key>defaults</key>
			<string>com.johnzaro.raminfo13prefs</string>
			<key>key</key>
			<string>usedRAMPrefix</string>
			<key>label</key>
			<string>Used RAM Prefix</string>
			<key>PostNotification</key>
			<string>com.johnzaro.raminfo13prefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.raminfo13prefs</string>
			<key>key</key>
			<string>showFreeRam</string>
			<key>label</key>
			<string>Show Free RAM</string>
			<key>PostNotification</key>
			<string>com.johnzaro.raminfo13prefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>F: </string>
			<key>defaults</key>
			<string>com.johnzaro.raminfo13prefs</string>
			<key>key</key>
			<string>freeRAMPrefix</string>
			<key>label</key>
			<string>Free RAM Prefix</string>
			<key>PostNotification</key>
			<string>com.johnzaro.raminfo13prefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.raminfo13prefs</string>
			<key>key</key>
			<string>showTotalPhysicalRam</string>
			<key>label</key>
			<string>Show Total Physical RAM</string>
			<key>PostNotification</key>
			<string>com.johnzaro.raminfo13prefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>T: </string>
			<key>defaults</key>
			<string>com.johnzaro.raminfo13prefs</string>
			<key>key</key>
			<string>totalRAMPrefix</string>
			<key>label</key>
			<string>Total RAM Prefix</string>
			<key>PostNotification</key>
			<string>com.johnzaro.raminfo13prefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>, </string>
			<key>defaults</key>
			<string>com.johnzaro.raminfo13prefs</string>
			<key>key</key>
			<string>separator</string>
			<key>label</key>
			<string>Separator</string>
			<key>PostNotification</key>
			<string>com.johnzaro.raminfo13prefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>PORTRAIT POSITION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>default</key>
			<string>298</string>
			<key>defaults</key>
			<string>com.johnzaro.raminfo13prefs</string>
			<key>key</key>
			<string>portraitX</string>
			<key>label</key>
			<string>Portrait X</string>
			<key>PostNotification</key>
			<string>com.johnzaro.raminfo13prefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>default</key>
			<string>2</string>
			<key>defaults</key>
			<string>com.johnzaro.raminfo13prefs</string>
			<key>key</key>
			<string>portraitY</string>
			<key>label</key>
			<string>Portrait Y</string>
			<key>PostNotification</key>
			<string>com.johnzaro.raminfo13prefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>LANDSCAPE POSITION</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>default</key>
			<string>750</string>
			<key>defaults</key>
			<string>com.johnzaro.raminfo13prefs</string>
			<key>key</key>
			<string>landscapeX</string>
			<key>label</key>
			<string>Landscape X</string>
			<key>PostNotification</key>
			<string>com.johnzaro.raminfo13prefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>default</key>
			<string>2</string>
			<key>defaults</key>
			<string>com.johnzaro.raminfo13prefs</string>
			<key>key</key>
			<string>landscapeY</string>
			<key>label</key>
			<string>Landscape Y</string>
			<key>PostNotification</key>
			<string>com.johnzaro.raminfo13prefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.raminfo13prefs</string>
			<key>key</key>
			<string>followDeviceOrientation</string>
			<key>label</key>
			<string>Follow Device Orientation</string>
			<key>PostNotification</key>
			<string>com.johnzaro.raminfo13prefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>SIZE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>default</key>
			<string>55</string>
			<key>defaults</key>
			<string>com.johnzaro.raminfo13prefs</string>
			<key>key</key>
			<string>width</string>
			<key>label</key>
			<string>Width</string>
			<key>PostNotification</key>
			<string>com.johnzaro.raminfo13prefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>default</key>
			<string>12</string>
			<key>defaults</key>
			<string>com.johnzaro.raminfo13prefs</string>
			<key>key</key>
			<string>height</string>
			<key>label</key>
			<string>Height</string>
			<key>PostNotification</key>
			<string>com.johnzaro.raminfo13prefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>FONT SIZE</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>keyboard</key>
			<string>numbers</string>
			<key>default</key>
			<string>8</string>
			<key>defaults</key>
			<string>com.johnzaro.raminfo13prefs</string>
			<key>key</key>
			<string>fontSize</string>
			<key>label</key>
			<string>Font Size</string>
			<key>PostNotification</key>
			<string>com.johnzaro.raminfo13prefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.raminfo13prefs</string>
			<key>key</key>
			<string>boldFont</string>
			<key>label</key>
			<string>Bold Font</string>
			<key>PostNotification</key>
			<string>com.johnzaro.raminfo13prefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Custom Text Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.johnzaro.raminfo13prefs</string>
			<key>key</key>
			<string>customColorEnabled</string>
			<key>label</key>
			<string>Enable Custom Text Color</string>
			<key>PostNotification</key>
			<string>com.johnzaro.raminfo13prefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>SparkColourPickerCell</string>
			<key>libsparkcolourpicker</key>
			<dict>
				<key>defaults</key>
				<string>com.johnzaro.raminfo13prefs.colors</string>
				<key>key</key>
				<string>customColor</string>
				<key>fallback</key>
				<string>#FF9400</string>
				<key>alpha</key>
				<false/>
				<key>PostNotification</key>
				<string>com.johnzaro.raminfo13prefs/reloadprefs</string>
			</dict>
			<key>label</key>
			<string>Custom Color</string>
			<key>key</key>
			<string>customColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ALIGNMENT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.johnzaro.raminfo13prefs</string>
			<key>key</key>
			<string>alignment</string>
			<key>validTitles</key>
			<array>
      			<string>Left</string>
      			<string>Center</string>
      			<string>Right</string>
			</array>
      		<key>validValues</key>
			<array>
      			<string>0</string>
      			<string>1</string>
      			<string>2</string>
			</array>
			<key>label</key>
			<string>Alignment</string>
			<key>PostNotification</key>
			<string>com.johnzaro.raminfo13prefs/reloadprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>UPDATE INTERVAL</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBStepperTableCell</string>
			<key>default</key>
			<real>2</real>
			<key>defaults</key>
			<string>com.johnzaro.raminfo13prefs</string>
			<key>key</key>
			<string>updateInterval</string>
			<key>label</key>
			<string>%i Seconds</string>
			<key>singularLabel</key>
			<string>1 Second</string>
			<key>max</key>
			<real>5</real>
			<key>min</key>
			<real>1</real>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>WHEN RESETING, RESPRING WILL OCCUR</string>
        </dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>reset:</string>
			<key>label</key>
			<string>Reset All Settings</string>
		</dict>
		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT THIS TWEAK</string>
        </dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Source Code</string>
			<key>icon</key>
			<string>github.png</string>
			<key>url</key>
   	 		<string>https://github.com/johnzaro/RAMInfo13</string>
		</dict>
 		<dict>
        	<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ABOUT ME</string>
			<key>footerText</key>
			<string>© 2020 John Zarogiannis (johnzaro)</string>
        </dict>
		<dict>
			<key>big</key>
    		<true/>
            <key>cellClass</key>
            <string>HBTwitterCell</string>
			<key>height</key>
    		<integer>56</integer>
            <key>label</key>
            <string>John Zarogiannis</string>
            <key>user</key>
            <string>johnzaro</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Email Me</string>
            <key>action</key>
            <string>email</string>
            <key>icon</key>
            <string>email.png</string>
        </dict>
		<dict>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>Check me on Reddit</string>
            <key>action</key>
            <string>reddit</string>
            <key>icon</key>
            <string>reddit.png</string>
        </dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Like my work? Buy me a coffee :)</string>
			<key>icon</key>
			<string>donate.png</string>
			<key>url</key>
   	 		<string>https://paypal.me/JohnZarogiannis</string>
        </dict>
	</array>
	<key>title</key>
	<string>RAMInfo13</string>
</dict>
</plist>
