Package: com.johnzaro.appstoreupdatestab13
Name: AppStoreUpdatesTab13
Depends: mobilesubstrate, firmware (>= 13)
Version: 1.0
Architecture: iphoneos-arm
Description: Replace Arcade button with "Show Updates" button in the AppStore app
Maintainer: Johnzaro <johnzrgnns@gmail.com>
Author: Johnzaro <johnzrgnns@gmail.com>
Section: Tweaks
