Package: com.soup.uzitime
Name: UziTime
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Soup
Author: Soup
Section: Tweaks
