<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>UziTime Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.soup.uzitimepref</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>isNumeric</key>
			<true/>
			<key>cell</key>
			<string>PSSecureEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.soup.uzitimepref</string>
			<key>key</key>
			<string>password</string>
			<key>label</key>
			<string>Device 4-Digit Passcode</string>
		</dict>
		<dict>
			<key>footerText</key>
			<string>Make sure the device has a 4 digit passcode before enabling!</string>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.soup.uzitimepref</string>
			<key>key</key>
			<string>popups</string>
			<key>label</key>
			<string>Enable Popups</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string></string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.soup.uzitimepref</string>
			<key>key</key>
			<string>trippie</string>
			<key>label</key>
			<string>Enable 1400</string>
		</dict>
	</array>
	<key>title</key>
	<string>UziTime Settings</string>
</dict>
</plist>
